@font-face {
    font-family: 'SFUIText-Regular';
    src:  url('~assets/vendor/fonts/body/SFUIText-Regular.eot?ed1wcy');
    src:  url('~assets/vendor/fonts/body/SFUIText-Regular.eot?ed1wcy#iefix') format('embedded-opentype'),
      url('~assets/vendor/fonts/body/SFUIText-Regular.woff2?ed1wcy') format('woff2'),
      url('~assets/vendor/fonts/body/SFUIText-Regular.ttf?ed1wcy') format('truetype'),
      url('~assets/vendor/fonts/body/SFUIText-Regular.woff?ed1wcy') format('woff'),
      url('~assets/vendor/fonts/body/SFUIText-Regular.svg?ed1wcy#innovapptive-font') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  

@font-face {
    font-family: 'SFUIDisplay-Semibold';
    src:  url('~assets/vendor/fonts/body/SFUIDisplay-Semibold.eot?ed1wcy');
    src:  url('~assets/vendor/fonts/body/SFUIDisplay-Semibold.eot?ed1wcy#iefix') format('embedded-opentype'),
      url('~assets/vendor/fonts/body/SFUIDisplay-Semibold.woff2?ed1wcy') format('woff2'),
      url('~assets/vendor/fonts/body/SFUIDisplay-Semibold.ttf?ed1wcy') format('truetype'),
      url('~assets/vendor/fonts/body/SFUIDisplay-Semibold.woff?ed1wcy') format('woff'),
      url('~assets/vendor/fonts/body/SFUIDisplay-Semibold.svg?ed1wcy#innovapptive-font') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'SFUIDisplay-Regular';
    src:  url('~assets/vendor/fonts/body/SFUIDisplay-Regular.eot?ed1wcy');
    src:  url('~assets/vendor/fonts/body/SFUIDisplay-Regular.eot?ed1wcy#iefix') format('embedded-opentype'),
      url('~assets/vendor/fonts/body/SFUIDisplay-Regular.woff2?ed1wcy') format('woff2'),
      url('~assets/vendor/fonts/body/SFUIDisplay-Regular.ttf?ed1wcy') format('truetype'),
      url('~assets/vendor/fonts/body/SFUIDisplay-Regular.woff?ed1wcy') format('woff'),
      url('~assets/vendor/fonts/body/SFUIDisplay-Regular.svg?ed1wcy#innovapptive-font') format('svg');
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'SFUIDisplay-Thin';
    src:  url('~assets/vendor/fonts/body/SFUIDisplay-Thin.eot?ed1wcy');
    src:  url('~assets/vendor/fonts/body/SFUIDisplay-Thin.eot?ed1wcy#iefix') format('embedded-opentype'),
      url('~assets/vendor/fonts/body/SFUIDisplay-Thin.woff2?ed1wcy') format('woff2'),
      url('~assets/vendor/fonts/body/SFUIDisplay-Thin.ttf?ed1wcy') format('truetype'),
      url('~assets/vendor/fonts/body/SFUIDisplay-Thin.woff?ed1wcy') format('woff'),
      url('~assets/vendor/fonts/body/SFUIDisplay-Thin.svg?ed1wcy#innovapptive-font') format('svg');
    font-weight: normal;
    font-style: normal;
  }